apns2==0.7.2
appdirs==1.4.3
click==6.7
editdistance==0.4
Flask==1.0
Flask-Limiter==1.0.1
Flask-SQLAlchemy==2.2
geopy==1.11.0
itsdangerous==0.24
Jinja2==2.11.13
limits==1.3
numpy==1.17.4
packaging==16.8
psycopg2-binary==2.8.4
pyparsing==2.2.0
pytz==2018.3
requests==2.20.0
scipy==1.3.3
SQLAlchemy==1.3.11
Unidecode==1.0.22
uWSGI==2.0.17
Werkzeug==0.15.3
