[Unit]
Description=Docker Compose Meteoaviso Service
Requires=docker.service
After=docker.service

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/srv/docker
ExecStart=/usr/local/bin/docker-compose -f /home/pi/meteo-aviso-be/docker-compose-rpi.yaml up
ExecStop=/usr/local/bin/docker-compose -f /home/pi/meteo-aviso-be/docker-compose-rpi.yaml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
